
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    font-size: 1.171vw;
    background-color: $white;
    margin: 0;
    @media only screen and (max-width: 1024px){
        font-size: 16px;
    }
}

p , a , li {
    font-size: em(16);
    color: $black;
    margin: 0;
}

ul, ol{
    margin: 0;
}

.animated {
    .animated-child {
        opacity: 0;
        transform : translateY(-15px)
    }
}


.section {
    text-align: center;
    padding: em(25);

    &.section-banner-container {
        .banner-style {
            @include bgSettings(cover, no-repeat , center);
            width: 100%;
            height: em(450);
            @media only screen and (max-width: 767px){
                height: 125px;
            }
        }
    }
    &.main-content-container {
        .header-wrapper {
            h1 {
                @media only screen and (max-width: 991px){
                    margin-top: 0;
                }
            }
        }
        .content-wrapper {
            p {
                margin-bottom: em(20);
            }
        }
    }
    &.account-container {
        .account-wrapper {
            display: flex;
            align-items: center;
            @media only screen and (max-width: 991px){
                flex-direction: column;
            }
            .qr-img-wrapper {
                width: calc(50% - 1.5625em);
                text-align: right;
                @media only screen and (max-width: 991px){
                    text-align: center;
                    width: 100%;
                }
                img {
                    object-fit: cover;
                    width: em(250);
                    height: em(250);
                }
            }
            .bank-wrapper {
                text-align: left;
                margin-left: em(25);
                width: calc(50% - 1.5625em);
                @media only screen and (max-width: 991px){
                    text-align: center;
                    width: 100%;
                    margin-left: 0;
                }
                .bank-items {

                }
            }
        }
    }
    &.total-amount-container {
        text-align: center;
        h2, h6, h3 {
            margin: 0;
        }
    }
    &.form-link-container {
        display: flex;
        justify-content: center;
        text-align: center;
        @media only screen and (max-width: 991px){
            padding-bottom: 75px;
        }
        .form-link-wrapper {
            p {
                margin-bottom: em(20);
            }
        }
    }
    &.footer-container {
        text-align: right;
        padding-bottom: 0;
        h6 {
            font-size: 10px;
        }
    }
    &.section-transaction-container {
        .section-transaction-wrapper {
            .header-wrapper {
                text-align: left;
            }
            .proof-container {
                margin-top: em(25);
                .proof-wrapper {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;
                    @media only screen and (max-width: 1024px){
                        justify-content: center;
                    }
                    .item {
                        max-width: calc(25% - 1em);
                        height: calc(25% - 1em);
                        margin-right: 1em;
                        border: 1px solid rgba(10, 10, 10, .5);
                        padding: em(10);
                        border-radius: 5px;
                        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
                        transition: transform .2s;
                        width: 100%;
                        @media only screen and (max-width: 1024px){
                            max-width: calc(50% - 1em);
                            &:nth-child(2n) {
                                margin-right: 0;
                            }
                            margin-bottom: 1em;
                        }
                        @media only screen and (max-width: 767px){
                            max-width: 100%;
                            margin-right: 0;
                        }
                        cursor: pointer;
                        &:hover, &:active {
                            transform: scale(1.1);
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            width: 100%;
                            object-fit: cover;
                            margin: auto;
                            height: em(250);
                            border: 1px solid $black;
                        }
                    }
                    
                }
                .proof-notif-wrapper {
                    margin-top: em(35);
                    text-align: center;
                }
            }
        }
    }
}


.page {
    &.page-one {

    }
    &.page-two {
        display: none;
        opacity: 0;
        transform: translateY(999px);
    }
}


.owl-stage {
    display: flex;
    align-items: center;
    
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    button {
        outline: none;
        position: absolute;
        font-size: em(125) !important;
        line-height: .1 !important;
        transition: opacity .5s;
        &:hover, &:active {
            opacity: .7;
        }
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
}